<div>
  <div>
    <div class="ui big inverted menu">
      <div class="active item">
        Profile Wizard
      </div>
    </div>
  </div>
  <div style="margin-top: 10px;">
    <div class="ui mini four steps">
      <a class="step"
        [ngClass]="{'active': componentDetails.personalDetailsComponent.active, 'disabled': componentDetails.confirmationComponent.active}"
        (click)="loadPersonalDetailComponent()">
        <i class="user icon"></i>
        <div class="content">
          <div class="title">Personal Details</div>
        </div>
      </a>
      <div class="step"
        [ngClass]="{'active': componentDetails.contactDetailsComponent.active, 'disabled': componentDetails.confirmationComponent.active}"
        (click)="loadContactDetailsComponent()">
        <i class="id badge icon"></i>
        <div class="content">
          <div class="title">Contact Details</div>
        </div>
      </div>
      <div class="step"
        [ngClass]="{'active': componentDetails.skillsComponent.active, 'disabled': componentDetails.confirmationComponent.active}"
        (click)="loadSkillsComponent()">
        <i class="trophy icon"></i>
        <div class="content">
          <div class="title">Skills</div>
        </div>
      </div>
      <div class="step"
        [ngClass]="{'active': componentDetails.workExperienceComponent.active, 'disabled': componentDetails.confirmationComponent.active}"
        (click)="loadWorkExperienceComponent()">
        <i class="suitcase icon"></i>
        <div class="content">
          <div class="title">Work Experience</div>
        </div>
      </div>
    </div>
    <div id="forms">
      <app-personal-details *ngIf="componentDetails.personalDetailsComponent.active" [wizardFormData]="wizardFormData"></app-personal-details>
      <app-contact-details *ngIf="componentDetails.contactDetailsComponent.active" [wizardFormData]="wizardFormData"></app-contact-details>
      <app-skills *ngIf="componentDetails.skillsComponent.active" [skills]="wizardFormData.skills"></app-skills>
      <app-work-experience *ngIf="componentDetails.workExperienceComponent.active" [experiences]="wizardFormData.experiences"></app-work-experience>
      <app-confirmation *ngIf="componentDetails.confirmationComponent.active"></app-confirmation>
    </div>
    <div *ngIf="!componentDetails.confirmationComponent.active">
      <button class="ui primary right floated button" type="submit"
        *ngIf="!componentDetails.workExperienceComponent.active"
        (click)="setNextorPreviousPageActive('next')">Next</button>
      <button class="ui primary right floated button" type="submit"
        *ngIf="componentDetails.workExperienceComponent.active"
        (click)="submitForm('next')">Finish</button>
      <button class="ui right floated button" type="submit" *ngIf="!componentDetails.personalDetailsComponent.active"
        (click)="setNextorPreviousPageActive('back')">Back</button>
    </div>
    <div *ngIf="componentDetails.confirmationComponent.active">
      <button class="ui primary right floated button" type="reset"
        *ngIf="!componentDetails.workExperienceComponent.active" (click)="startNewForm()">New
        Form</button>
    </div>
  </div>
</div>
