<form class="ui form">
  <div class="inline field">
    <label>Job 1</label>
    <input type="text" [value]="experiences.experience1" (change)="updateExperience1($event)" placeholder="Javascript">
  </div>
  <div class="inline field">
    <label>Job 2</label>
    <input type="text" [value]="experiences.experience2" (change)="updateExperience2($event)" placeholder="Optional">
  </div>
  <div class="inline field">
    <label>Job 3</label>
    <input type="text" [value]="experiences.experience3" (change)="updateExperience3($event)" placeholder="Optional">
  </div>
</form>
